table#user-table {
    margin-top: 10px;
    border-radius: 5px;
    width: 60%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

table#user-table th {
    background: #000;
    color: #fff;
}

table#user-table td {
    background: #555;
    color: #fff;
}